.div_OhA8aLz {
  position: fixed;
  inset: 0;

  background: #e0e0da;

  display: flex;
  flex-direction: column;
}

.div_5QdmBfH {
  display: flex;
  flex-grow: 1;

  scrollbar-width: none;
}

.div_34opSRw {
  position: relative;
  min-width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s ease-in-out;

  overflow: hidden;

  & img {
    max-height: 100%;
    border-radius: 8px;
  }
}

.div_7zcS3FD {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  gap: 20px;

  width: 100%;
  height: 100%;

  & img {
    max-width: 100%;
    max-height: 100%;
  }
}

.div_56EiEWc {
  position: relative;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
}

.div_TBrD0jQ,
.div_dYf5pmh {
  margin: auto;
  display: flex;
  gap: 15px;

  pointer-events: none;

  &.space-between {
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & span {
      font-weight: bold;
    }
  }

  & button {
    /* width: 100px; */
    padding: 20px 40px;
    border: 8px;
    color: #ffffff;
    border-radius: 8px;
    pointer-events: initial;

    cursor: pointer;

    &.not {
      background: #feeff4;
      color: #891524;
    }

    &.yes {
      background: #891524;
      color: #feeff4;
    }
  }
}

.div_TBrD0jQ {
  padding: 15px;
}

.div_dYf5pmh {
  position: fixed;
  inset: 0;

  display: initial;

  & button {
    position: sticky;
  }
}

.div_V92nsbx {
  display: flex;
  align-items: center;

  gap: 20px;

  margin-left: auto;
  margin-right: 5px;

  & button {
    background: #891524;
    color: #feeff4;
    padding: 15px;

    border-radius: 8px;
  }
}

.h2_f6PQD48 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: rotate(-15deg);
  display: none;
}

/* div_34opSRw */

.div_UZEX8XR {
  width: 100%;
  height: 100%;

  padding: 50px;
  background: #feeff4;

  & p {
    line-height: 2;
    padding: 50px;

    width: 100%;
    height: 100%;

    overflow-y: auto;
    scrollbar-width: none;
  }
}

.div_09ygr1C {
  background: #feeff4;
  width: 100%;
  height: 100%;
  border-radius: 8px;

  box-shadow: 5px 5px 10px 0px rgba(188, 18, 18, 0.3);

  position: relative;
}

.div_1LS65Cp {
  width: 60px;
  height: 60px;

  position: absolute;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.div_0cUBmE1 {
  width: 60px;
  height: 60px;

  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  width: 40px;
  height: 60px;
  animation: heartBeat 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader:before,
.loader:after {
  content: "";
  background: #ff3d00;
  width: 40px;
  height: 60px;
  border-radius: 50px 50px 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(45deg);
  transform-origin: 50% 68%;
  box-shadow: 5px 4px 5px #0004 inset;
}
.loader:after {
  transform: rotate(-45deg);
}
@keyframes heartBeat {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
